<div class="ui list">
    {{#each books as |book|}}
    <li class="item"><a>{{book.title}}</a><small> by <a>{{book.author}}</a></small></li>
    {{/each}}
</div>

<script>
    $("#bookNav").addClass("active");
</script>
