<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/lib/semantic/dist/semantic.css'/>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src='/lib/semantic/dist/semantic.js'></script>
  </head>
  <body class="ui container">
    {{{body}}}
  </body>
</html>
